* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #293264;
}

.fullBoard {
  overflow-y: scroll;
  height: 540px;
}

.start-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  color: #293264;
}

.title,
.description {
  color: #293264;
}

.description {
  max-width: 300px;
  text-align: center;
}

.start-button {
  background-color: #293264;
  color: white;
  border: none;
  padding: 1em 3em;
  border-radius: 1em;
  margin-top: 1.5em;
  cursor: pointer;
  transition: 0.2s;
}

.start-button:hover {
  transform: scale(1.1);
}

.bubble-1 {
  width: 297px;
  height: 235px;
  position: absolute;
  left: -5%;
  right: 0%;
  top: 80%;
  bottom: 0%;
  background-color: #deebf8;
  border-radius: 50% 80% 50% 30%;
}

.bubble-2 {
  width: 297px;
  height: 235px;
  position: absolute;
  left: 85%;
  right: 0%;
  top: -20%;
  bottom: 0%;
  background-color: #fffad1;
  border-radius: 30% 50% 50% 80%;
}

.questions-table {
  text-align: center;
}

.individual-answer {
  padding: 0.1em 4em;
  border: 1px solid #d6dbf5;
  border-radius: 1em;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}

.question-header {
  font-weight: bold;
  margin-top: 2em;
}

.check-answers {
  margin: 0 auto;
  display: flex;
  margin-top: 1.5em;
  padding: 0.8em 2.5em;
  border: none;
  border-radius: 1em;
  background-color: #4d5b9e;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.check-answers:hover {
  transform: scale(1.1);
}

.answers-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d6dbf5;
  max-width: 1000px;
  padding-bottom: 1em;
}


.button-play {
  margin: 0 auto;
  display: flex;
  max-width: 540px;
  justify-content: center;
  align-items: baseline;
}